Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, copy-snapshot-contract, validate-snapshot-contract, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  copy-schema-to-flutter: any of: openapi-schema\.yaml$
  regenerate-bus-kiosk-api: any of: openapi-schema\.yaml$
  regenerate-frontend-easy-api: any of: openapi-schema\.yaml$
  validate-api-drift: any of: \.(yaml|yml)$
  copy-snapshot-contract: any of: snapshot_interface_contract\.yaml
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

Fix CSRF verification by extending CSRF_TRUSTED_ORIGINS from environment variables
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

Remove Firebase default URL from CORS/CSRF settings - using custom domain only
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

Add api.easypool.in to ALLOWED_HOSTS, CORS, and CSRF settings
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

Fix logging default: disable file logging by default to prevent Cloud Run permission errors
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

Migrate to Django Groups + API-only backend
  .coveragerc
  .pylintrc
  app/bus_kiosk_backend/permissions.py
  app/bus_kiosk_backend/settings.py
  app/bus_kiosk_backend/urls.py
  app/school_dashboard/__init__.py
  app/school_dashboard/admin.py
  app/school_dashboard/apps.py
  app/school_dashboard/management/__init__.py
  app/school_dashboard/management/commands/__init__.py
  app/school_dashboard/management/commands/create_school_user.py
  app/school_dashboard/migrations/__init__.py
  app/school_dashboard/models.py
  app/school_dashboard/tests.py
  app/school_dashboard/urls.py
  app/school_dashboard/views.py
  app/templates/home.html
  app/templates/school_dashboard/base.html
  app/templates/school_dashboard/dashboard.html
  app/templates/school_dashboard/dashboard.html.backup
  app/templates/school_dashboard/dashboard_old.html
  app/templates/school_dashboard/login.html
  app/templates/school_dashboard/partials/bus_stats.html
  app/templates/school_dashboard/partials/recent_events.html
  app/users/admin.py
  app/users/management/commands/seed_groups.py
  app/users/migrations/0001_initial.py
  app/users/models.py
  app/users/serializers.py
  app/users/urls.py
  app/users/views.py
  archive/old_tests/test_bus_location_iam.py
  openapi-schema.yaml
Due: openapi-schema, copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, mypy, bandit

Remove .env files - all config via environment injection
  .env.example
Due: none

Remove archived tests from mypy check
  archive/old_tests/test_bus_location_iam.py
Due: mypy

Fix mypy type annotation
  app/users/serializers.py
Due: openapi-schema, mypy, bandit

Update pyproject.toml: add vulture config and platform-specific ML dependencies
  pyproject.toml
Due: none

Fix test import errors: remove Role model references and update UserFactory to use groups
  tests/factories.py
  tests/unit/test_users_models.py
Due: openapi-schema, mypy

Add targeted test hooks to pre-commit: run specific tests only when relevant files change
  .pre-commit-config.yaml
Due: validate-api-drift

Add intelligent skip logic system for pre-commit hooks and CI
  .github/workflows/ci.yml
  .github/workflows/detect-changes.yml
  .pre-commit-config.yaml
  SMART_HOOKS_README.md
  docs/AUTOMATED_SKIP_LOGIC.md
  scripts/smart_hook_orchestrator.sh
Due: validate-api-drift

Add force_tests option to override automatic skip logic in CI
  .github/workflows/ci.yml
Due: validate-api-drift

Refactor: Extract build-push into reusable workflow component
  .github/workflows/build-push.yml
  .github/workflows/ci.yml
Due: validate-api-drift

Fix: Use inputs instead of secrets in workflow conditions
  .github/workflows/build-push.yml
  .github/workflows/ci.yml
Due: validate-api-drift

Fix: Use repository variable instead of secret for GCP_PROJECT_ID
  .github/workflows/ci.yml
Due: validate-api-drift

Refactor: Separate build and push into distinct jobs
  .github/workflows/build-push.yml
Due: validate-api-drift

Refactor: Modular workflow architecture - build once, push in parallel
  .github/workflows/build-push.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/push-gar.yml
  .github/workflows/push-ghcr.yml
  .github/workflows/quick-build.yml
Due: validate-api-drift

Rename workflow files for clarity: push-ghcr verify-ghcr, push-gar deploy-gar
  .github/workflows/ci.yml
  .github/workflows/deploy-gar.yml
  .github/workflows/verify-ghcr.yml
Due: validate-api-drift

Add CI/CD pipeline flow diagram with improved colors
  docs/ci-pipeline-flow.md
Due: none

Rename: push-ghcr -> verify-ghcr for clarity
  imperial_governance/mermaid_diagrams/ci-pipeline-flow.md
Due: none

Fix: Update CI to reference verify-ghcr workflow
  .github/workflows/ci.yml
Due: validate-api-drift

Remove school dashboard tests (feature removed, RoleFactory doesn't exist)
  tests/integration/test_school_dashboard_api.py
Due: mypy

Fix: Update test-image to reference verify-ghcr instead of push-ghcr
  .github/workflows/ci.yml
Due: validate-api-drift

Rename: build.yml → build-push-ghcr.yml for clarity
  .github/workflows/build-push-ghcr.yml
  .github/workflows/ci.yml
Due: validate-api-drift

Fix: Update CI job name to match what it does (build + push to GHCR)
  .github/workflows/ci.yml
Due: validate-api-drift

Fix: Update job name inside build-push-ghcr.yml to match workflow name
  .github/workflows/build-push-ghcr.yml
Due: validate-api-drift

Add: Deploy workflows to backend_easy (CD moved from infra)
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: validate-api-drift

Add PR template for develop→master merges
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Implement SHA-based tagging for rollback capability
  .github/workflows/build-push-ghcr.yml
  .github/workflows/ci.yml
  .github/workflows/push-gar.yml
Due: validate-api-drift

Fix: Update CI to reference push-gar.yml (renamed from deploy-gar.yml)
  .github/workflows/ci.yml
Due: validate-api-drift

Fix: Explicitly check for develop branch for latest tag
  .github/workflows/build-push-ghcr.yml
Due: validate-api-drift

Rename Docker image from bus_kiosk_backend to backend_easy
  .github/workflows/build-push-ghcr.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/push-gar.yml
Due: validate-api-drift

Remove school portal redirect, add proper home template
  app/bus_kiosk_backend/settings.py
  app/templates/home.html
Due: mypy, bandit

Add development workflow documentation
  .github/DEVELOPMENT.md
Due: none

Fix: Use backend_easy image name consistently in docker-compose
  docker-compose.test.yml
Due: validate-api-drift

Fix: CI skip logic now checks if previous tests passed
  .github/workflows/detect-changes.yml
Due: validate-api-drift

Fix: Add actions:read permission to check previous test results
  .github/workflows/detect-changes.yml
Due: validate-api-drift
