Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

openapi-schema:
  name: Regenerate OpenAPI Schema
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - app/manage.py
  - spectacular
  - --file
  - openapi-schema.yaml
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

validate-api-drift:
  name: Validate API Drift (Zero-Drift Guarantee)
  entry: bash
  args:
  - scripts/check_api_drift.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  always_run: false
  verbose: true

validate-snapshot-contract:
  name: Validate Snapshot Contract
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_snapshot_generator.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

unit-tests-core:
  name: Unit Tests (Core Logic)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/
  - -v
  - --tb=short
  - --maxfail=3
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

auth-tests:
  name: Auth Tests (Security Critical)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/integration/test_authentication_flow.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

ml-tests:
  name: ML Tests (Face Recognition)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_face_embedding.py
  - tests/integration/test_face_embedding_integration.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

mypy:
  name: mypy (full project check)
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - export PYTHONPATH=app && bash scripts/run_in_venv.sh -m mypy app --no-incremental
  stages:
  - commit
  verbose: true

bandit:
  name: bandit (security scanner)
  entry: bash
  args:
  - -c
  - bash scripts/run_in_venv.sh -m bandit -r app -x '**/test*' -c pyproject.toml -f txt 2>/dev/null || echo '⚠️ Bandit not installed, skipping security scan'
  language: system
  pass_filenames: false

Add management commands for superuser testing and creation
  app/users/management/commands/create_test_superuser.py
  app/users/management/commands/test_superuser_auth.py
Due: unit-tests-core, auth-tests, mypy

Add management commands for superuser testing and creation
  Dockerfile
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/students/migrations/0001_initial.py
  app/users/management/commands/create_hardcoded_admin.py
  app/users/migrations/0001_initial.py
Due: unit-tests-core, auth-tests, mypy, bandit

Fix: CI optimizations + hardcoded bootstrap admin
  .github/actions/build-image/action.yml
  .github/workflows/ci.yml
  app/users/management/commands/create_hardcoded_admin.py
  app/users/management/commands/create_test_superuser.py
  app/users/management/commands/createsuperuser_secure.py
  app/users/management/commands/test_superuser_auth.py
  docker-compose.test.yml
Due: unit-tests-core, auth-tests, mypy, bandit

Feat: Artifact promotion pattern (test once, deploy 3x)
  .github/workflows/ci.yml
Due: none

Fix: Singleton bootstrap admin (atomic, retries, 100% guaranteed)
  Dockerfile
  app/users/management/commands/create_hardcoded_admin.py
  app/users/management/commands/ensure_bootstrap_admin.py
Due: unit-tests-core, auth-tests, mypy, bandit

fix: Show bootstrap admin logs (remove silent grep)
  Dockerfile
Due: none

feat: Add skip functionality for pre-commit and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  SKIP_GUIDE.md
Due: none

fix: Remove emoji from CI workflow (GitHub Actions compatibility)
  .github/workflows/ci.yml
Due: none

revert: Remove skip logic from CI - use manual workflow instead
  .github/workflows/ci.yml
Due: none

feat: Git-canonical CI/CD + fast-lane untested staging
  .github/workflows/ci.yml
  .github/workflows/deploy-manual.yml
Due: none

fix: Restore test-image smoke test and parallel execution
  .github/workflows/ci.yml
Due: none

fix: Git-canonical CI with correct structure and clean syntax
  .github/workflows/ci.yml
Due: none

refactor: Use composable reusable actions in CI
  .github/actions/load-from-cache/action.yml
  .github/actions/push-image/action.yml
  .github/workflows/ci.yml
Due: none

fix: Prevent rebuild on master - enforce build once, deploy many
  .github/workflows/ci.yml
Due: none

refactor: Rename deploy-manual to fast-stage-deploy, restrict to staging only
  .github/workflows/fast-stage-deploy.yml
Due: none

feat: Add decision head for clean workflow routing
  .github/workflows/ci.yml
Due: none

feat: Add test-safe marker system with visual warnings
  .github/workflows/ci.yml
Due: none

refactor: Remove fast-stage-deploy (redundant with test-safe system)
  .github/workflows/fast-stage-deploy.yml
Due: none

refactor: Organize root-level documentation into doc_new folder
  doc_new/DEVELOPMENT.md
  doc_new/LOGGING_AND_SINGLETON_PLAN.md
  doc_new/README.md
  doc_new/SETUP.md
  doc_new/SKIP_GUIDE.md
  doc_new/SMART_HOOKS_README.md
Due: none

feat: Add git traceability metadata and fix environment naming
  .github/actions/deploy-cloudrun/action.yml
  .github/workflows/ci.yml
Due: none

Add development environment and remove SQLite fallbacks
  app/bus_kiosk_backend/settings/__init__.py
  app/bus_kiosk_backend/settings/development.py
  app/bus_kiosk_backend/settings/production.py
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Replace cache-based test verification with Docker image labels
  .github/actions/add-test-labels/action.yml
  .github/actions/verify-test-labels/action.yml
  .github/workflows/ci.yml
Due: none

Refactor CI/CD: Extract workflow jobs into reusable actions
  .github/actions/deploy-cloudrun/action.yml
  .github/actions/execute-job/action.yml
  .github/actions/run-quality-checks/action.yml
  .github/actions/run-security-scan/action.yml
  .github/actions/run-smoke-test/action.yml
  .github/actions/run-tests/action.yml
  .github/workflows/ci.yml
Due: none

Fix: Update project name from backend-easypool to easypool-backend in push-image action
  .github/actions/push-image/action.yml
Due: none

Fix: Add token_format and proper Docker authentication for Artifact Registry
  .github/actions/push-image/action.yml
Due: none

Trigger CI/CD - API now enabled
  .github/actions/push-image/action.yml
Due: none

test: Trigger fast deploy
  TEST.md
Due: none

Add workflow_dispatch with skip_tests for fast deploy (dev only)
  .github/workflows/ci.yml
Due: none

Revert: Remove workflow_dispatch changes
  .github/workflows/ci.yml
Due: none

Fix: Remove vars context from composite action
  .github/actions/deploy-cloudrun/action.yml
Due: none

Test deployment with GCP secrets configured
  TEST.md
Due: none

Security: Remove hardcoded ALLOWED_HOSTS/CORS - use Terraform env vars only
  app/bus_kiosk_backend/settings/development.py
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

Fix: Use Django migration state instead of hardcoded table names
  app/users/management/commands/create_hardcoded_admin.py
Due: unit-tests-core, auth-tests, mypy, bandit

Fix: Refactor User model to use UUID primary key
  app/realtime/middleware.py
  app/users/migrations/0002_change_user_id_to_uuid_primary_key.py
  app/users/models.py
  openapi-schema.yaml
  tests/factories.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Add manual operations system for database management
  .github/operations/README.md
  .github/operations/create-superuser.sh
  .github/operations/drop-tables.sh
  .github/operations/migrate.sh
  .github/operations/seed-groups.sh
  .github/operations/view-logs.sh
  .github/workflows/manual-operations.yml
Due: none

Add management command to clear Django sessions
  app/users/management/commands/clear_sessions.py
Due: unit-tests-core, auth-tests, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$
