Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-api-drift, mypy, bandit

Path conditions:
  validate-api-drift: any of: \.(yaml|yml)$
  mypy: any of: ^app/.*\.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

fix(types): annotate management commands to satisfy mypy
  app/students/management/commands/seed_data.py
  app/students/management/commands/test_embeddings.py
  tests/integration/test_configuration.py
Due: mypy, bandit

fix(types): ensure config min_detection_confidence is float
  ml_models/face_recognition/preprocessing/face_detector.py
Due: bandit

Fix photo embedding generation issues
  Makefile
  app/events/models.py
  app/students/services/face_recognition_service.py
  app/students/signals.py
  app/students/tasks.py
  openapi-schema.yaml
  tests/factories.py
  tests/unit/test_face_recognition.py
Due: validate-api-drift, mypy, bandit

refactor: improve test organization and CI configuration
  .pre-commit-config.yaml
  DEVELOPMENT.md
  app/students/face_recognition_config.py
  app/students/services/face_recognition_service.py
  docker-compose.test.yml
  ml_models/config.py
  scripts/install-hooks.ps1
  scripts/install-hooks.sh
  tests/integration/test_celery_async_embedding.py
  tests/integration/test_face_embedding_integration.py
  tests/unit/test_face_embedding.py
Due: validate-api-drift, mypy, bandit

fix: use environment-based logging for CI/Docker
  app/bus_kiosk_backend/settings.py
  docker-compose.test.yml
Due: validate-api-drift, mypy, bandit

feat: add ML-specific task routing and result persistence
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

fix: use Django database for Celery results
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

fix: implement snapshot interface contract
  app/kiosks/services.py
  imperial_governance/constitutional_core/contracts/snapshot_interface_contract.yaml
  tests/unit/test_snapshot_generator.py
Due: validate-api-drift, mypy, bandit

test: trigger contract sync
  .pre-commit-config.yaml
Due: validate-api-drift

feat: add snapshot contract auto-sync to frontend
  .pre-commit-config.yaml
  imperial_governance/constitutional_core/contracts/snapshot_interface_contract.yaml
Due: validate-api-drift

feat(kiosks): Add migration for database_hash length
  .pre-commit-config.yaml
  app/kiosks/admin.py
  app/kiosks/migrations/0007_alter_kioskstatus_database_hash.py
  app/kiosks/serializers.py
  app/kiosks/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

home
  app/templates/home.html
  doc/KIOSK_API_ARCHITECTURE.md
Due: none

redirect to school login
  app/templates/home.html
Due: none

fix(events): Add KioskJWTAuthentication to boarding events endpoint
  app/events/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Fix JWT token refresh OpenAPI schema - only require refresh field in request
  app/users/views.py
  imperial_governance/CONSTITUTION_NOTES/JWT_TOKEN_LIFECYCLE.md
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Optimize Docker image size: Replace TensorFlow with TFLite Runtime (95% size reduction)
  ml_models/face_recognition/inference/mobilefacenet.py
  pyproject.toml
Due: bandit

Replace tensorflow-cpu with ai-edge-litert - 95% size reduction (450MB -> 70MB)
  ml_models/face_recognition/inference/mobilefacenet.py
  pyproject.toml
Due: bandit

feat: Complete json_serializable migration and Python 3.12 upgrade
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: validate-api-drift

Fix snapshot database transfer and hash field synchronization
  .pre-commit-config.yaml
  app/kiosks/migrations/0007_alter_kioskstatus_database_hash.py
  app/kiosks/models.py
  app/kiosks/views.py
  imperial_governance/constitutional_core/api_contracts.yaml
  imperial_governance/constitutional_core/database_schema.yaml
Due: validate-api-drift, mypy, bandit

Apply ruff formatting to views.py
  app/kiosks/views.py
Due: mypy, bandit

Fix binary snapshot endpoint OpenAPI schema
  app/kiosks/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Add GPS location tracking for buses
  app/bus_kiosk_backend/settings_backup.py
  app/bus_kiosk_backend/urls.py
  app/kiosks/migrations/0008_buslocation.py
  app/kiosks/models.py
  app/kiosks/serializers.py
  app/kiosks/tests/__init__.py
  app/kiosks/urls.py
  app/kiosks/views.py
  app/school_dashboard/__init__.py
  app/school_dashboard/admin.py
  app/school_dashboard/apps.py
  app/school_dashboard/management/__init__.py
  app/school_dashboard/management/commands/__init__.py
  app/school_dashboard/management/commands/create_school_user.py
  app/school_dashboard/migrations/__init__.py
  app/school_dashboard/models.py
  app/school_dashboard/tests.py
  app/school_dashboard/urls.py
  app/school_dashboard/views.py
  app/templates/school_dashboard/base.html
  app/templates/school_dashboard/dashboard.html
  app/templates/school_dashboard/dashboard.html.backup
  app/templates/school_dashboard/dashboard_old.html
  app/templates/school_dashboard/login.html
  app/templates/school_dashboard/partials/bus_stats.html
  app/templates/school_dashboard/partials/recent_events.html
  imperial_governance/CONSTITUTION_NOTES/authentication.md
  openapi-schema.yaml
  tests/integration/test_kiosk_api.py
Due: validate-api-drift, mypy, bandit

feat: Update pre-commit config and test hooks
  .pre-commit-config.yaml
  README.md
Due: validate-api-drift

cdn allowed for school
  app/bus_kiosk_backend/middleware/__init__.py
Due: mypy, bandit

Add GPS location tracking admin interface
  app/kiosks/admin.py
Due: mypy, bandit

Fix school dashboard: decrypt student names and remove confidence display
  app/templates/school_dashboard/partials/recent_events.html
Due: none

ci: optimize Docker build with caching
  .github/workflows/ci.yml
Due: validate-api-drift

ci: use correct Docker Hub PAT secret for pushing
  .github/workflows/ci.yml
Due: validate-api-drift

ci: fix Trivy scan by using input artifact
  .github/workflows/ci.yml
Due: validate-api-drift

ci: enforce consistent Docker image tagging
  .github/workflows/ci.yml
Due: validate-api-drift

fix: allow Google Maps in Content Security Policy
  app/bus_kiosk_backend/middleware/__init__.py
Due: mypy, bandit

ci: use correct Docker Hub PAT secret in quick-build workflow
  .github/workflows/quick-build.yml
Due: validate-api-drift

ci: optimize quick-build with caching
  .github/workflows/quick-build.yml
Due: validate-api-drift

fix: resolve Google Maps CSP violations and enable security middleware
  app/bus_kiosk_backend/middleware/__init__.py
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

Fix Django admin 500 errors for bus locations and students
  app/kiosks/admin.py
  app/students/admin.py
Due: mypy, bandit

fix: prevent duplicate students/parents in seed command
  app/students/management/commands/seed_data.py
Due: mypy, bandit

feat: Improve health endpoint to check database and Redis connectivity
  app/bus_kiosk_backend/health.py
Due: mypy, bandit

fix: Use application/x-sqlite3 content-type for snapshot downloads
  app/kiosks/views.py
Due: mypy, bandit

feat: Stage 2 - Real-time WebSocket bus tracking
  app/bus_kiosk_backend/asgi.py
  app/bus_kiosk_backend/settings.py
  app/realtime/__init__.py
  app/realtime/admin.py
  app/realtime/apps.py
  app/realtime/consumers.py
  app/realtime/migrations/__init__.py
  app/realtime/models.py
  app/realtime/routing.py
  app/realtime/signals.py
  app/realtime/tests.py
  app/realtime/views.py
  app/templates/school_dashboard/dashboard.html
  docs/STAGE2_TESTING_SUMMARY.md
  docs/WEBSOCKET_REALTIME_TRACKING.md
  pyproject.toml
  tests/integration/test_school_dashboard_api.py
  tests/integration/test_websocket_realtime.py
  tests/unit/test_realtime_signals.py
Due: mypy, bandit
