Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

fix: Make route_name nullable in Bus serializer for buses without routes
  app/buses/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

refactor: Use UUID for bus history API per Google best practices
  app/buses/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Use bus UUID instead of bus_number in location service
  app/buses/services/location_service.py
Due: unit-tests-core, mypy, bandit

fix: Handle null capacity in utilization_percentage property
  app/buses/models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Make Bus serializer fields properly nullable
  app/buses/serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

improve: Add helpful date ranges to bus history error messages
  app/buses/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add route information to bus location responses
  app/buses/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add parent push notification system via Cloud Tasks
  app/bus_kiosk_backend/settings/base.py
  app/bus_kiosk_backend/urls.py
  app/notifications/__init__.py
  app/notifications/admin.py
  app/notifications/apps.py
  app/notifications/models.py
  app/notifications/serializers.py
  app/notifications/services.py
  app/notifications/signals.py
  app/notifications/urls.py
  app/notifications/views.py
  app/realtime/signals.py
  pyproject.toml
Due: openapi-schema, validate-api-drift, mypy, bandit

feat: Add database migrations for notifications app
  app/notifications/migrations/0001_initial.py
  app/notifications/migrations/__init__.py
Due: mypy

feat: Auto-create Parent record on User creation
  app/users/signals.py
  tests/unit/test_users_models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

fix: Use real email and name from Firebase/Google auth in Parent auto-creation
  app/users/signals.py
  tests/unit/test_users_models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

fix: Use unique placeholder for phone in Parent auto-creation
  app/users/signals.py
  tests/unit/test_users_models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

fix: Make Parent phone and email optional
  app/students/migrations/0005_make_parent_phone_email_optional.py
  app/students/models.py
  app/users/signals.py
  openapi-schema.yaml
  tests/unit/test_users_models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

feat: Add face enrollment models and serializers (Phase 1)
  app/bus_kiosk_backend/settings/base.py
  app/students/migrations/0006_add_face_enrollment.py
  app/students/models.py
  app/students/serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add face enrollment API and admin interface (Phase 2)
  app/students/admin.py
  app/students/urls.py
  app/students/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

refactor: Remove unnecessary face enrollment config endpoint
  app/students/serializers.py
  app/students/urls.py
  app/students/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

test: Add comprehensive face enrollment tests (Google style)
  tests/conftest.py
  tests/factories.py
  tests/integration/test_face_enrollment_api.py
  tests/unit/test_face_enrollment.py
Due: unit-tests-core, ml-tests, mypy

feat: Explicit Cloud Tasks authentication (Google IAM pattern)
  app/bus_kiosk_backend/core/authentication.py
  app/bus_kiosk_backend/permissions.py
  app/bus_kiosk_backend/settings/base.py
  app/notifications/views.py
  openapi-schema.yaml
  tests/conftest.py
  tests/factories.py
  tests/integration/test_notification_api.py
  tests/unit/test_notification_service.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Handle fast lane in deploy-dev workflow condition
  .github/workflows/ci.yml
Due: none

refactor: Remove fast lane from CI/CD workflow
  .github/workflows/ci.yml
Due: none

revert: Restore CI/CD workflow with fast lane from master
  .github/workflows/ci.yml
Due: none

fix: Add type ignore comments for mypy errors
  app/events/services/storage_service.py
  app/students/models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Lazy singleton initialization for CI compatibility
  app/notifications/services.py
  app/notifications/views.py
  app/realtime/signals.py
  tests/unit/test_notification_service.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Use auto-created parent in approval status tests
  tests/unit/test_face_enrollment.py
Due: unit-tests-core, ml-tests, mypy

fix: Use lazy getters in NotificationService init
  app/notifications/services.py
Due: mypy, bandit

feat: Google IAM authorization pattern for FCM tokens
  app/notifications/serializers.py
  app/notifications/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, mypy, bandit

fix: Combine FCM token actions to support both POST and DELETE
  app/notifications/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, mypy, bandit

fix: Add error handling to notification processing endpoint
  app/notifications/views.py
Due: openapi-schema, validate-api-drift, mypy, bandit

fix: Add required Django user attributes to CloudTasksUser
  app/bus_kiosk_backend/core/authentication.py
Due: mypy, bandit

feat: Add API for all registered students with caching
  app/events/api_views.py
  app/events/urls.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Make bus_details and parents nullable in Student serializer (Google way)
  app/students/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Make school_details nullable in StudentSerializer
  app/students/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Graceful degradation for StudentSerializer nested objects
  app/students/serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

test: Add comprehensive serializer tests for graceful degradation
  tests/unit/test_student_serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy

fix: Use oneOf with null type for proper nullable schema generation
  app/students/serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Enable COMPONENT_SPLIT_REQUEST for proper nullable schema generation
  app/bus_kiosk_backend/settings/base.py
Due: mypy, bandit

feat: Add postprocessing hook to remove nullable fields from required array
  app/bus_kiosk_backend/schema_hooks.py
  app/bus_kiosk_backend/settings/base.py
Due: mypy, bandit

fix: Correct postprocessing hook signature
  app/bus_kiosk_backend/schema_hooks.py
Due: mypy, bandit

feat: Add multi-model backend verification infrastructure
  MULTI_MODEL_IMPLEMENTATION.md
  app/bus_kiosk_backend/schema_hooks.py
  app/events/migrations/0006_add_backend_verification.py
  app/events/models.py
  app/face_verification/__init__.py
  app/face_verification/apps.py
  app/face_verification/services/__init__.py
  ml_models/config.py
  ml_models/face_recognition/models/convert_arcface_to_tflite.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit
