Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-api-drift, copy-snapshot-contract, validate-snapshot-contract, mypy, bandit

Path conditions:
  validate-api-drift: any of: \.(yaml|yml)$
  copy-snapshot-contract: any of: snapshot_interface_contract\.yaml
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

Fix: Resolve E501 line too long error in admin.py and disable --exit-non-zero-on-fix for ruff hook
  .pre-commit-config.yaml
  app/bus_kiosk_backend/asgi.py
  app/kiosks/admin.py
  app/realtime/admin.py
  app/realtime/consumers.py
  app/realtime/models.py
  app/realtime/routing.py
  app/realtime/signals.py
  app/realtime/tests.py
  app/realtime/views.py
  tests/integration/test_school_dashboard_api.py
  tests/integration/test_websocket_realtime.py
  tests/unit/test_realtime_signals.py
Due: validate-api-drift, mypy, bandit

Fix: Resolve E501 line too long error in admin.py and disable --exit-non-zero-on-fix for ruff hook
  app/kiosks/admin.py
  tests/integration/test_school_dashboard_api.py
Due: mypy, bandit

Fix: Fix failing tests in test_realtime_signals.py
  tests/unit/test_realtime_signals.py
Due: mypy

Fix: Replace assertEqual with assert statements in realtime signals tests
  tests/unit/test_realtime_signals.py
Due: mypy

Fix school dashboard API tests and add industry-standard timezone utilities
  app/bus_kiosk_backend/test_settings.py
  app/school_dashboard/views.py
  app/utils/serializer_mixins.py
  app/utils/timezone_utils.py
  docs/TIMEZONE_GUIDE.md
  tests/conftest.py
  tests/integration/test_school_dashboard_api.py
  tests/unit/test_timezone_utils.py
Due: mypy, bandit

Fix mypy errors: add pytz dependencies and resolve duplicate module detection
  pyproject.toml
Due: none

Fix mypy config: remove conflicting explicit_package_bases flag
  pyproject.toml
Due: none

Fix mypy duplicate module error: add missing __init__.py to utils package
  app/utils/__init__.py
Due: mypy, bandit

Fix critical WebSocket bug: incorrect group_add parameters
  app/realtime/consumers.py
Due: mypy, bandit

Update WebSocket tests to use role factories (fix is_school_admin issue)
  tests/integration/test_websocket_realtime.py
Due: mypy

Fix CI smoke test: remove || true that hides failures
  .github/workflows/ci.yml
Due: validate-api-drift

Refactor: Optimize Redis Channel Layers for WebSocket Performance
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

web socket fixes
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

fix: Skip OpenAPI validation for kiosk endpoints to prevent sync blocking
  .pre-commit-config.yaml
  app/bus_kiosk_backend/middleware/openapi_validation.py
Due: validate-api-drift, mypy, bandit

Fix kiosk database sync and validation issues
  app/kiosks/services.py
  tests/test_all_endpoints_schema.py
Due: validate-snapshot-contract, mypy, bandit

fix: WebSocket real-time updates and Google Maps deprecations
  app/realtime/signals.py
  app/templates/school_dashboard/dashboard.html
Due: mypy, bandit

perf: Add pip caching to CI pipeline
  .github/workflows/ci.yml
Due: validate-api-drift

Add auto-encryption for student/parent admin forms
  app/students/admin.py
Due: mypy, bandit

Fix WebSocket integration tests for CI
  docker-compose.test.yml
  tests/integration/test_websocket_realtime.py
Due: validate-api-drift, mypy

Fix WebSocket test authentication
  tests/integration/test_websocket_realtime.py
Due: mypy

Fix decryption fallback for plaintext data
  app/students/models.py
Due: mypy, bandit

Refactor: Implement relational models for BusStop, RouteStop, RoutePathSegment, and StudentBusStopAssignment. Update Student model with address fields.
  app/buses/admin.py
  app/buses/migrations/0003_remove_route_schedule_remove_route_stops_busstop_and_more.py
  app/buses/models.py
  app/buses/serializers.py
  app/students/migrations/0007_student_address_latitude_student_address_longitude.py
  app/students/models.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Fix RouteFactory to match updated Route model schema
  tests/factories.py
Due: mypy

Fix test_realtime_signals to match updated Route model
  tests/unit/test_realtime_signals.py
Due: mypy

Add color_code and line_pattern fields to Route model
  app/buses/migrations/0004_route_color_code_route_line_pattern.py
  app/buses/models.py
Due: mypy, bandit

Add frontend_easy to OpenAPI schema copy hook
  .pre-commit-config.yaml
Due: validate-api-drift

Fix frontend_easy hook: update SDK version before build_runner
  .pre-commit-config.yaml
  imperial_governance/CONSTITUTION_NOTES/ZERO_DRIFT_ARCHITECTURE.md
Due: validate-api-drift

feat: Explicit token lifecycle separation for users vs kiosks
  app/bus_kiosk_backend/settings.py
  app/kiosks/authentication.py
  app/kiosks/token_config.py
  app/users/token_config.py
  app/users/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Fix Route serializer field types to use explicit IntegerField
  app/buses/serializers.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Fix frontend_easy_api SDK version downgrade in pre-commit hook
  .pre-commit-config.yaml
  scripts/update_frontend_sdk.ps1
Due: validate-api-drift

Add Python script for SDK version update (alternative to PowerShell)
  scripts/update_frontend_sdk.py
Due: mypy, bandit

feat: enhance backend models and add dashboard seeding
  README.md
  app/buses/serializers.py
  app/events/management/__init__.py
  app/events/management/commands/__init__.py
  app/events/management/commands/seed_boarding_events.py
  app/events/models.py
  openapi-schema.yaml
  scripts/seed_dashboard_data.py
Due: validate-api-drift, mypy, bandit

fix: apply pre-commit hook fixes (ruff formatting and imports)
  README.md
  app/events/management/commands/seed_boarding_events.py
  scripts/seed_dashboard_data.py
Due: mypy, bandit

fix: apply pre-commit hook fixes (ruff formatting and imports)
  .pre-commit-config.yaml
  app/buses/serializers.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Add optimized dashboard API endpoints for school dashboard
  app/events/api_views.py
  app/events/dashboard_serializers.py
  app/events/serializers.py
  app/events/urls.py
  app/students/admin.py
  app/students/migrations/0008_add_school_student_id.py
  app/students/migrations/0009_make_school_student_id_required.py
  app/students/models.py
  app/students/serializers.py
  openapi-schema.yaml
  scripts/seed_dashboard_data.py
Due: validate-api-drift, mypy, bandit

Add query parameters to dashboard API OpenAPI documentation
  app/events/api_views.py
Due: mypy, bandit

Fix security: Use AWS-style permissions for dashboard and events APIs
  app/events/api_views.py
  app/events/views.py
Due: mypy, bandit

Fix OpenAPI parameter documentation using OpenApiParameter
  app/events/api_views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Fix dashboard API: Use school_student_id instead of UUID
  app/events/api_views.py
  app/events/dashboard_serializers.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Fix: Remove manual timestamp.isoformat() in student activity API
  app/events/api_views.py
Due: mypy, bandit
