Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

Regenerate all migrations with UUID primary key from start
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
  app/users/migrations/0002_change_user_id_to_uuid_primary_key.py
Due: unit-tests-core, auth-tests, mypy

Update authentication and regenerate migrations
  app/bus_kiosk_backend/core/authentication.py
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
  tests/unit/test_firebase_auth.py
Due: unit-tests-core, auth-tests, mypy, bandit

Reset migrations and add database flush command
  app/bus_kiosk_backend/core/authentication.py
  app/buses/migrations/0001_initial.py
  app/buses/views.py
  app/events/api_views.py
  app/events/migrations/0001_initial.py
  app/events/views.py
  app/kiosks/migrations/0001_initial.py
  app/kiosks/views.py
  app/realtime/middleware.py
  app/students/migrations/0001_initial.py
  app/students/views.py
  app/users/apps.py
  app/users/management/commands/clear_sessions.py
  app/users/management/commands/createsuperuser.py
  app/users/management/commands/ensure_bootstrap_admin.py
  app/users/management/commands/flush_database.py
  app/users/migrations/0001_initial.py
  app/users/models.py
  app/users/signals.py
  openapi-schema.yaml
  tests/unit/test_last_login_tracking.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Add comprehensive seed data system with Heritage School structure
  Dockerfile
  SEEDING_QUICKSTART.md
  app/students/management/commands/seed_all_data.py
  app/users/management/commands/create_hardcoded_admin.py
  seed_data/README.md
  seed_data/bus_stops.json
  seed_data/buses.json
  seed_data/kiosks.json
  seed_data/routes.json
  seed_data/sample_students.json
  seed_data/schools.json
Due: unit-tests-core, auth-tests, mypy, bandit

Add route waypoints and Google Maps polyline integration
  app/buses/migrations/0002_route_encoded_polyline_waypoint_routewaypoint.py
  app/buses/models.py
  app/buses/serializers.py
  app/buses/services.py
  app/buses/urls.py
  app/buses/views.py
  openapi-schema.yaml
  pyproject.toml
  tests/factories.py
  tests/integration/test_geocode_api.py
  tests/unit/test_bus_location_service.py
  tests/unit/test_location_services.py
  tests/unit/test_route_serializers.py
  tests/unit/test_waypoint_models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Add: Backend Makefile for easy development commands
  Makefile
Due: none

Add boarding event seeding to seed_all_data command
  app/students/management/commands/seed_all_data.py
Due: unit-tests-core, mypy, bandit

Add bus location seeding and improve boarding events for current date
  app/buses/admin.py
  app/buses/migrations/0001_initial.py
  app/buses/migrations/0002_route_encoded_polyline_waypoint_routewaypoint.py
  app/buses/serializers.py
  app/buses/utils/__init__.py
  app/buses/utils/polyline_generator.py
  app/buses/views.py
  app/events/management/commands/seed_boarding_events.py
  app/events/migrations/0001_initial.py
  app/kiosks/management/commands/__init__.py
  app/kiosks/management/commands/seed_bus_locations.py
  app/kiosks/migrations/0001_initial.py
  app/students/management/commands/seed_all_data.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Fix WebSocket: Send initial bus locations on client connect
  app/realtime/consumers.py
Due: mypy, bandit

Add bus_number to WebSocket location data for map markers
  app/realtime/consumers.py
Due: mypy, bandit

Add route_id to WebSocket bus location data
  app/realtime/consumers.py
Due: mypy, bandit

Fix geocode API test URL paths
  tests/integration/test_geocode_api.py
Due: mypy

Fix remaining geocode and routes API test failures
  tests/integration/test_geocode_api.py
Due: mypy

Fix test_geocode_api_error mock to patch where LocationService is used
  tests/integration/test_geocode_api.py
Due: mypy

Clean up JWT references and update to Firebase authentication
  app/bus_kiosk_backend/schema_hooks.py
  app/bus_kiosk_backend/settings/base.py
  app/bus_kiosk_backend/urls.py
  app/kiosks/serializers.py
  app/kiosks/views.py
  app/users/models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Add Firebase authentication with auto-kiosk creation
  app/bus_kiosk_backend/core/authentication.py
  app/kiosks/migrations/0002_kiosk_firebase_uid.py
  app/kiosks/models.py
  tests/test_firebase_kiosk_auth.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Update authentication, admin panels, and kiosk models
  app/bus_kiosk_backend/core/authentication.py
  app/buses/admin.py
  app/buses/models.py
  app/kiosks/admin.py
  app/kiosks/views.py
  register_kiosk.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Fix register_kiosk.py: use 'bus' field instead of 'current_bus'
  register_kiosk.py
Due: mypy, bandit

Add OpenAPI schema for bus locations API endpoint
  app/buses/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Add flexible route waypoint system with bus stops and path adjustment points
  app/buses/admin.py
  app/buses/migrations/0002_allow_duplicate_waypoints_in_route.py
  app/buses/models.py
  app/buses/static/admin/js/route_waypoint_toggle.js
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Make parent optional when adding students and enable parent creation
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

Switch face recognition to synchronous processing for Cloud Run
  app/students/signals.py
  tests/unit/test_face_embedding.py
Due: unit-tests-core, ml-tests, mypy, bandit

Make enrollment_date optional and relax parent phone validation
  app/students/migrations/0002_make_enrollment_date_optional.py
  app/students/models.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Fix CI/CD: Ensure same image SHA across develop/staging/production
  .github/workflows/ci.yml
Due: none

Add /kiosks/me/ endpoint for authenticated kiosk self-lookup
  app/kiosks/urls.py
  app/kiosks/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Fix timezone: Return datetimes in IST (Asia/Kolkata) instead of UTC
  app/bus_kiosk_backend/settings/base.py
Due: mypy, bandit

Fix student name encryption: Remove encrypted name field from API response
  app/students/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Add comment for shared storage bucket integration
  app/buses/utils/polyline_generator.py
Due: unit-tests-core, mypy, bandit

Add full student database to kiosk snapshots for cross-bus recognition
  app/kiosks/services.py
Due: validate-snapshot-contract, unit-tests-core, auth-tests, mypy, bandit

Update tests for cross-bus recognition and fix SQLite migration
  app/kiosks/migrations/0003_remove_app_release.py
  tests/unit/test_snapshot_generator.py
Due: unit-tests-core, auth-tests, mypy

Fix: Remove unused variable assignment in kiosk snapshot generator
  app/kiosks/services.py
Due: validate-snapshot-contract, unit-tests-core, auth-tests, mypy, bandit

Add bulk student upload feature via ZIP file
  app/students/admin.py
  app/students/templates/admin/students/bulk_upload.html
  app/students/templates/admin/students/student_changelist.html
Due: unit-tests-core, mypy, bandit

Fix student name display in BoardingEvent admin panel
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

Add reference photo thumbnail display in BoardingEvent admin
  app/events/admin.py
  app/students/models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Store student reference photos as binary data in Cloud SQL database
  app/events/admin.py
  app/students/admin.py
  app/students/migrations/0003_store_photos_in_database.py
  app/students/models.py
  app/students/serializers.py
  app/students/urls.py
  app/students/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Add custom form for photo upload to binary storage
  app/students/admin.py
  app/students/migrations/0003_store_photos_in_database.py
  app/students/models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Fix all references to old photo ImageField for BinaryField storage
  app/students/management/commands/seed_data.py
  app/students/management/commands/test_embeddings.py
  app/students/services/face_recognition_service.py
  app/students/signals.py
  test_embedding_generation.py
  tests/factories.py
  tests/integration/test_face_embedding_integration.py
Due: unit-tests-core, ml-tests, mypy, bandit

Add confirmation face images to boarding events
  app/events/admin.py
  app/events/migrations/0002_add_confirmation_faces.py
  app/events/models.py
  app/events/serializers.py
  app/events/urls.py
  app/events/views.py
  app/students/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Change confirmation faces to flexible array
  app/events/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Add bus_number to kiosk snapshot for human-readable display
  app/events/serializers.py
  app/kiosks/services.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, mypy, bandit
