Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

openapi-schema:
  name: Regenerate OpenAPI Schema
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - app/manage.py
  - spectacular
  - --file
  - openapi-schema.yaml
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

validate-api-drift:
  name: Validate API Drift (Zero-Drift Guarantee)
  entry: bash
  args:
  - scripts/check_api_drift.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  always_run: false
  verbose: true

validate-snapshot-contract:
  name: Validate Snapshot Contract
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_snapshot_generator.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

unit-tests-core:
  name: Unit Tests (Core Logic)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/
  - -v
  - --tb=short
  - --maxfail=3
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

auth-tests:
  name: Auth Tests (Security Critical)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/integration/test_authentication_flow.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

ml-tests:
  name: ML Tests (Face Recognition)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_face_embedding.py
  - tests/integration/test_face_embedding_integration.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

mypy:
  name: mypy (full project check)
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - export PYTHONPATH=app && bash scripts/run_in_venv.sh -m mypy app --no-incremental
  stages:
  - commit
  verbose: true

bandit:
  name: bandit (security scanner)
  entry: bash
  args:
  - -c
  - bash scripts/run_in_venv.sh -m bandit -r app -x '**/test*' -c pyproject.toml -f txt 2>/dev/null || echo '⚠️ Bandit not installed, skipping security scan'
  language: system
  pass_filenames: false

Fix bulk upload photo storage to use binary data instead of FileField
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

Add bulk upload command for students with CSV and photos
  app/students/management/commands/bulk_upload_students.py
Due: unit-tests-core, mypy, bandit

Fix database connection exhaustion in Cloud Run
  app/bus_kiosk_backend/settings/development.py
  app/bus_kiosk_backend/settings/production.py
  docs/DATABASE_CONNECTION_POOLING.md
Due: mypy, bandit

Fix bus markers vanishing on map - unify WebSocket message formats
  app/realtime/consumers.py
Due: mypy, bandit

Optimize CI/CD: Skip redundant checks for develop branch
  .github/workflows/ci.yml
Due: none

Add photo and embedding count columns to student admin list
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

Simplify CI/CD pipeline: Single unified workflow for all environments
  .github/workflows/README.md
  .github/workflows/ci.yml
Due: none

Improve CI/CD: Build-first order, clear path marker, isolated deploy branches
  .github/workflows/ci.yml
Due: none

Add SOS emergency alert feature for kiosks
  app/kiosks/admin.py
  app/kiosks/migrations/0004_sosalert.py
  app/kiosks/models.py
  app/kiosks/serializers.py
  app/kiosks/urls.py
  app/kiosks/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Add driver and conductor personnel fields to Bus model
  app/buses/admin.py
  app/buses/migrations/0003_add_driver_conductor_fields.py
  app/buses/migrations/0004_make_capacity_optional.py
  app/buses/models.py
  app/buses/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Update .gitignore: Keep only MobileFaceNet model
  .gitignore
Due: none

Fix SOSAlertAdmin: Remove undefined device_info_display field
  app/kiosks/admin.py
Due: unit-tests-core, auth-tests, mypy, bandit

Add models directory README documentation
  ml_models/face_recognition/models/README.md
Due: none

Optimize CI: Run tests, security, and smoke tests in parallel
  .github/workflows/ci.yml
Due: none

Update CI workflow: develop→DEV, master→STAGING, tags→PRODUCTION
  .github/workflows/ci.yml
Due: none

Add git SHA tracking
  app/kiosks/admin.py
  app/kiosks/migrations/0005_add_git_commit_sha.py
  app/kiosks/models.py
  app/kiosks/serializers.py
  app/kiosks/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

Use StudentListSerializer for students list endpoint
  app/students/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add schedule field to Kiosk model
  app/kiosks/migrations/0006_kiosk_schedule.py
  app/kiosks/models.py
  app/kiosks/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

feat: Add schedule field to kiosk admin interface
  app/kiosks/admin.py
Due: unit-tests-core, auth-tests, mypy, bandit

feat: Add Operation Timing model with time picker UI
  app/kiosks/__init__.py
  app/kiosks/admin.py
  app/kiosks/migrations/0007_operationtiming_alter_kiosk_schedule_operationslot_and_more.py
  app/kiosks/models.py
  app/kiosks/models_operation_timing.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

fix: Use HTML5 time picker for operation slots
  app/kiosks/admin.py
Due: unit-tests-core, auth-tests, mypy, bandit

feat: Add operation timing to kiosk API
  app/kiosks/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

feat: Remove deprecated schedule field from kiosk serializer
  app/kiosks/serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

feat: Add device temperature monitoring to kiosk heartbeat system
  app/kiosks/admin.py
  app/kiosks/migrations/0008_kioskstatus_device_temperature.py
  app/kiosks/models.py
  app/kiosks/serializers.py
  app/kiosks/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

feat: Add parent user approval system with row-level security
  app/bus_kiosk_backend/permissions.py
  app/students/urls.py
  app/students/views.py
  app/users/migrations/0002_add_parent_approval_system.py
  app/users/models.py
  app/users/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

feat: Migrate boarding event confirmation faces to Google Cloud Storage
  app/events/admin.py
  app/events/migrations/0003_add_gcs_confirmation_faces.py
  app/events/models.py
  app/events/serializers.py
  app/events/services/__init__.py
  app/events/services/storage_service.py
  pyproject.toml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

refactor: Move parent approval to Parent model (Google-style architecture)
  app/bus_kiosk_backend/permissions.py
  app/events/admin.py
  app/events/migrations/0004_remove_deprecated_binary_fields.py
  app/events/models.py
  app/students/admin.py
  app/students/models.py
  app/students/signals.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add migration for Parent model approval system
  app/students/migrations/0004_add_approval_to_parent_model.py
Due: unit-tests-core, mypy

feat: Add fast lane CI/CD for develop branch and parent approval migration
  .github/workflows/ci.yml
Due: none

feat: Add explicit parent registration endpoint
  app/students/signals.py
  app/students/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

refactor: Complete Google-style User/Parent separation
  app/bus_kiosk_backend/permissions.py
  app/users/migrations/0003_remove_parent_approval_fields.py
  app/users/models.py
  app/users/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

fix: Update parent API endpoints to use correct related_name and add bus-locations endpoint
  app/students/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Fix parent permission and improve admin SSOT compliance
  app/bus_kiosk_backend/permissions.py
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

fix: Implement immutable SHA-based deployments for all environments
  .github/actions/deploy-cloudrun/action.yml
  .github/workflows/ci.yml
Due: none

security: Auto-populate approved_by with logged-in admin
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

feat: Add real GPS tracking to parent bus locations API
  app/students/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Fix bus locations API crash and return bus_number instead of license_plate
  .github/scripts/cleanup-registry.sh
  app/students/serializers.py
  app/students/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$
