Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

fix: Update all bus_route references to use kiosk.bus.route.name
  app/kiosks/management/commands/export_kiosk_metrics.py
Due: unit-tests-core, auth-tests, mypy, bandit

fix: Use int64_value for INT64 metrics in Cloud Monitoring
  app/kiosks/management/commands/export_kiosk_metrics.py
Due: unit-tests-core, auth-tests, mypy, bandit

fix: Use explicit metric type mapping for INT64 vs DOUBLE
  app/kiosks/management/commands/export_kiosk_metrics.py
Due: unit-tests-core, auth-tests, mypy, bandit

feat: Add PostgreSQL caching for signed URLs with lazy photo loading
  app/events/migrations/0005_add_signed_url_cache.py
  app/events/models.py
  app/events/serializers.py
  app/events/services/storage_service.py
  app/events/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Add migration 0008 for signed URL cache fields
  app/events/migrations/0008_add_signed_url_cache.py
Due: unit-tests-core, mypy

feat: Banking-grade face recognition upgrade (Phases 1-3)
  ADAFACE_INTEGRATION_GUIDE.md
  LOOKER_STUDIO_DASHBOARDS.md
  app/analytics/__init__.py
  app/analytics/management/__init__.py
  app/analytics/management/commands/__init__.py
  app/analytics/management/commands/export_to_bigquery.py
  app/bus_kiosk_backend/settings/base.py
  app/face_verification/services/consensus_service.py
  app/ml_config/management/commands/export_ml_metrics.py
  app/ml_config/models.py
Due: openapi-schema, validate-api-drift, mypy, bandit

feat: Enable 3-model ensemble + A/B testing infrastructure
  AB_TESTING_GUIDE.md
  ml_models/config.py
  ml_models/face_recognition/inference/w600k_r50.py
Due: mypy, bandit

feat: Enable real-time BigQuery streaming for DEV
  app/analytics/management/commands/export_to_bigquery.py
  app/analytics/signals.py
  app/bus_kiosk_backend/settings/development.py
  app/events/admin.py
  app/events/admin_actions.py
  app/events/apps.py
Due: unit-tests-core, mypy, bandit

fix: Use MULTI_MODEL_CONFIG for model list instead of hardcoding
  app/face_verification/services/consensus_service.py
Due: mypy, bandit

feat: Add flexible model configuration via Django Admin
  app/face_verification/services/consensus_service.py
  app/ml_config/admin.py
  app/ml_config/migrations/0002_add_face_recognition_model.py
  app/ml_config/models.py
  ml_models/model_loader.py
Due: openapi-schema, validate-api-drift, mypy, bandit

fix: format_html error and auto-seed default models
  app/ml_config/admin.py
  app/ml_config/migrations/0003_seed_default_models.py
Due: openapi-schema, validate-api-drift, mypy, bandit

feat: Seed 3-model BackendModelConfiguration V2 as active
  app/ml_config/migrations/0003_seed_default_models.py
Due: openapi-schema, validate-api-drift, mypy

feat: Add real-time kiosk metrics streaming to Cloud Monitoring
  app/bus_kiosk_backend/settings/development.py
  app/kiosks/apps.py
  app/kiosks/signals.py
Due: unit-tests-core, auth-tests, mypy, bandit

feat: Load ML models directly from GCS on-demand
  Dockerfile
  app/face_verification/services/consensus_service.py
  ml_models/face_recognition/inference/arcface_int8.py
  ml_models/face_recognition/inference/base.py
  ml_models/face_recognition/inference/mobilefacenet.py
  ml_models/face_recognition/inference/w600k_r50.py
Due: mypy, bandit
