Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

feat: Implement Google Way graceful degradation for Student API
  app/face_verification/__init__.py
  app/face_verification/cloud_tasks_client.py
  app/face_verification/services/__init__.py
  app/face_verification/services/consensus_service.py
  app/face_verification/tasks.py
  app/face_verification/urls.py
  app/face_verification/views.py
  app/students/serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

chore: Regenerate OpenAPI schema with Google Way nullable fields
  app/bus_kiosk_backend/urls.py
  app/events/admin.py
  app/face_verification/tasks.py
  app/face_verification/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

revert: Remove graceful degradation from StudentSerializer
  app/students/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add banking-grade face verification with ONNX models
  .gitignore
  Dockerfile
  app/events/apps.py
  app/events/signals.py
  ml_models/config.py
  ml_models/face_recognition/inference/arcface_resnet100.py
  ml_models/face_recognition/inference/arcface_resnet50.py
  ml_models/face_recognition/models/README.md
  ml_models/face_recognition/models/upload_to_gcs.sh
  ml_models/model_loader.py
  openapi-schema.yaml
  pyproject.toml
  test/test_models_local.py
  test/test_onnx_models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add compact embedding display and regenerate action
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

fix: Simplify regenerate action to prevent timeout
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

feat: Switch to INT8 quantized ArcFace for efficient deployment
  .github/actions/deploy-cloudrun/action.yml
  ml_models/config.py
  ml_models/face_recognition/inference/arcface_int8.py
  ml_models/model_loader.py
Due: mypy, bandit

feat: Add async embedding regeneration for large batches
  app/students/admin.py
  app/students/urls.py
  app/students/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Fix consensus service model loading and method calls
  app/face_verification/services/consensus_service.py
Due: mypy, bandit

feat: Improve admin UI for multi-model verification display
  app/events/admin.py
  app/face_verification/services/consensus_service.py
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

fix: Improve embedding display visibility and readability
  app/students/admin.py
Due: unit-tests-core, mypy, bandit

feat: Add multi-model disagreement display + photo caching + lazy loading
  app/events/admin.py
  app/students/models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Show multi-model info for pending boarding events
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

refactor: Single responsibility architecture for face verification
  app/face_verification/services/__init__.py
  app/face_verification/services/embedding_service.py
  app/face_verification/services/image_service.py
  app/face_verification/services/multi_crop_service.py
  app/face_verification/tasks.py
Due: ml-tests, mypy, bandit

feat: Add manual verify action in admin for pending events
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Use settings-based queue name for face verification Cloud Tasks
  app/bus_kiosk_backend/settings/base.py
  app/face_verification/cloud_tasks_client.py
Due: mypy, bandit

fix: Match notifications pattern for Cloud Tasks creation
  app/face_verification/cloud_tasks_client.py
Due: mypy, bandit

fix: Allow face-verification queue in Cloud Tasks auth
  app/bus_kiosk_backend/core/authentication.py
Due: mypy, bandit

feat: Two-mode investigation view for face verification
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Escape curly braces in vote_dist for format_html
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Show failure reason when backend verification fails
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Race condition in face verification trigger
  app/events/signals.py
  app/face_verification/services/image_service.py
Due: unit-tests-core, mypy, bandit

fix: Convert UUID student_id to string for JSON serialization
  app/face_verification/services/consensus_service.py
  app/face_verification/services/embedding_service.py
  app/face_verification/services/multi_crop_service.py
Due: ml-tests, mypy, bandit

fix: Clean up admin display - remove confusing S prefixes
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Add confidence_score to ConsensusResult
  app/face_verification/services/consensus_service.py
Due: mypy, bandit

fix: Clean admin display - remove all S/Student prefixes
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

feat: Improve admin display with student names and model info
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Improve admin color contrast and model display
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Better UUID extraction for backend student lookup
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Switch to ArcFace W600K ResNet50 model
  ml_models/face_recognition/inference/arcface_int8.py
Due: mypy, bandit

feat: Add name/grade/section search + fix arcface model
  app/students/admin.py
  ml_models/config.py
  ml_models/model_loader.py
Due: unit-tests-core, mypy, bandit

fix: Strip Student prefix from UUID + change to BLACK background
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

feat: Add AdaFace model + comprehensive configuration guide
  ADAFACE_SETUP.md
  MODEL_CONFIGURATION_GUIDE.md
  ml_models/config.py
  ml_models/face_recognition/inference/adaface.py
  ml_models/model_loader.py
Due: mypy, bandit

feat: Add dynamic ML model configuration system
  app/bus_kiosk_backend/settings/base.py
  app/events/migrations/0007_boardingevent_backend_config_version.py
  app/events/models.py
  app/face_verification/services/consensus_service.py
  app/face_verification/services/multi_crop_service.py
  app/face_verification/tasks.py
  app/ml_config/__init__.py
  app/ml_config/admin.py
  app/ml_config/apps.py
  app/ml_config/migrations/0001_initial.py
  app/ml_config/migrations/__init__.py
  app/ml_config/models.py
  app/ml_config/tests.py
  app/ml_config/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

config: Configure 2-model consensus mode (AdaFace disabled)
  app/events/migrations/0007_boardingevent_backend_config_version.py
  app/ml_config/migrations/0001_initial.py
  app/ml_config/models.py
  app/ml_config/tests.py
  app/ml_config/views.py
  ml_models/config.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add Cloud Monitoring metrics export commands
  app/kiosks/management/commands/export_kiosk_metrics.py
  app/ml_config/management/__init__.py
  app/ml_config/management/commands/__init__.py
  app/ml_config/management/commands/export_ml_metrics.py
Due: unit-tests-core, auth-tests, mypy, bandit

feat: Add google-cloud-monitoring for automated metrics export
  pyproject.toml
Due: none

fix: Use GCP_PROJECT_ID env var instead of client.project_path
  app/kiosks/management/commands/export_kiosk_metrics.py
  app/ml_config/management/commands/export_ml_metrics.py
Due: unit-tests-core, auth-tests, mypy, bandit

fix: Use correct field path kiosk.bus.route instead of kiosk.route
  app/kiosks/management/commands/export_kiosk_metrics.py
Due: unit-tests-core, auth-tests, mypy, bandit

fix: Use route.name instead of route.route_number
  app/kiosks/management/commands/export_kiosk_metrics.py
Due: unit-tests-core, auth-tests, mypy, bandit
