Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

openapi-schema:
  name: Regenerate OpenAPI Schema
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - app/manage.py
  - spectacular
  - --file
  - openapi-schema.yaml
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

validate-api-drift:
  name: Validate API Drift (Zero-Drift Guarantee)
  entry: bash
  args:
  - scripts/check_api_drift.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  always_run: false
  verbose: true

validate-snapshot-contract:
  name: Validate Snapshot Contract
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_snapshot_generator.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

unit-tests-core:
  name: Unit Tests (Core Logic)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/
  - -v
  - --tb=short
  - --maxfail=3
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

auth-tests:
  name: Auth Tests (Security Critical)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/integration/test_authentication_flow.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

ml-tests:
  name: ML Tests (Face Recognition)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_face_embedding.py
  - tests/integration/test_face_embedding_integration.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

mypy:
  name: mypy (full project check)
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - export PYTHONPATH=app && bash scripts/run_in_venv.sh -m mypy app --no-incremental
  stages:
  - commit
  verbose: true

bandit:
  name: bandit (security scanner)
  entry: bash
  args:
  - -c
  - bash scripts/run_in_venv.sh -m bandit -r app -x '**/test*' -c pyproject.toml -f txt 2>/dev/null || echo '⚠️ Bandit not installed, skipping security scan'
  language: system
  pass_filenames: false

Fix CD: Add service account to staging and candidate deployments
  .github/workflows/railway-cd.yml
Due: none

Add staging settings and fix CD deployment
  .github/workflows/railway-cd.yml
  app/bus_kiosk_backend/settings/__init__.py
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Fix mypy error: rename redis_url to avoid type conflict
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Refactor: Extract deploy logic to composite action (Option 1)
  .github/actions/deploy-cloud-run/action.yml
  .github/workflows/railway-cd.yml
Due: none

Remove Makefile - deployment moved to GitHub Actions
  Makefile
Due: none

Add security.py + remove CSRF injection (Fortune 500 pattern)
  app/bus_kiosk_backend/settings/production.py
  app/bus_kiosk_backend/settings/security.py
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Remove duplicate AUTH_PASSWORD_VALIDATORS from security.py
  app/bus_kiosk_backend/settings/security.py
Due: mypy, bandit

CRITICAL FIX: Disable SSL redirect - Cloud Run handles HTTPS
  .github/actions/deploy-cloud-run/action.yml
  app/bus_kiosk_backend/settings/base.py
  app/bus_kiosk_backend/settings/production.py
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Update candidate deployment to use production settings
  .github/workflows/railway-cd.yml
Due: none

Fix mypy type error for AUTH_PASSWORD_VALIDATORS
  app/bus_kiosk_backend/settings/security.py
Due: mypy, bandit

Add pre-commit hook to prevent direct commits to master
  .pre-commit-config.yaml
Due: none

Test: trigger deployment after Firebase IAM fix
  README.md
Due: none

Fix production settings to use DATABASE_URL for Cloud SQL
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

Consolidate Firebase initialization to base.py
  app/bus_kiosk_backend/settings/base.py
  app/bus_kiosk_backend/settings/production.py
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Remove dj-database-url dependency, use native regex parsing
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

Add dj-database-url for database portability
  LOGGING_AND_SINGLETON_PLAN.md
  app/bus_kiosk_backend/settings/production.py
  pyproject.toml
Due: mypy, bandit

Fix mypy type error in production.py database configuration
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

Make Redis, Celery, Google Maps, and Firebase optional in production
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

Add Cloud SQL connection to deploy action
  .github/actions/deploy-cloud-run/action.yml
Due: none

Fix Cloud SQL database connection parsing in production
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

Use django-environ for DATABASE_URL parsing (Google Cloud official way)
  app/bus_kiosk_backend/settings/production.py
  pyproject.toml
Due: mypy, bandit

Revert to regex DATABASE_URL parsing (proven to work in staging)
  app/bus_kiosk_backend/settings/production.py
  pyproject.toml
Due: mypy, bandit

Make candidate use staging settings (DJANGO_ENV=staging)
  .github/workflows/railway-cd.yml
Due: none

Fix: Update staging.py to support Google Cloud DATABASE_URL format
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Simplify GitHub Actions: CI builds, deploy pushes
  .github/actions/build-image/action.yml
  .github/actions/deploy-cloud-run/action.yml
  .github/actions/push-image/action.yml
  .github/workflows/README.md
  .github/workflows/build-image.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/railway-cd.yml
Due: none

Fix: Use hardcoded values instead of env vars in composite action
  .github/actions/push-image/action.yml
Due: none

Simplify: Integrate deploy into CI workflow (no separate deploy workflow)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Add Cloud Run deployment steps (GitHub triggers, Terraform controls config)
  .github/workflows/ci.yml
Due: none

Separate deploy into independent job (push image, then deploy)
  .github/workflows/ci.yml
Due: none

Add manual deployment workflow (deploy without CI)
  .github/workflows/deploy-manual.yml
Due: none

Add Cloud SQL proxy wait on startup (fix container timeout)
  Dockerfile
Due: none

Fix: Add VPC connector and resilient database connection handling
  .github/actions/deploy-cloudrun/action.yml
  .github/workflows/ci.yml
  Dockerfile
  app/bus_kiosk_backend/health.py
  app/bus_kiosk_backend/urls.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, mypy, bandit

Fix: Sanitize Docker tags to handle PR merge refs (replace / with -)
  .github/workflows/ci.yml
Due: none

Fix: Update CORS and CSRF settings with correct Cloud Run URLs (hash-based format)
  app/bus_kiosk_backend/settings/production.py
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

Make production settings flexible for multi-region deployment
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

Add production deployment workflow for git tags
  .github/workflows/ci.yml
Due: none

Remove Europe region URLs, make staging settings flexible with env vars
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

feat: enhance superuser management and build process
  .github/actions/build-image/action.yml
  app/users/management/commands/createsuperuser_secure.py
Due: unit-tests-core, auth-tests, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$
