Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, copy-snapshot-contract, validate-snapshot-contract, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  copy-schema-to-flutter: any of: openapi-schema\.yaml$
  regenerate-bus-kiosk-api: any of: openapi-schema\.yaml$
  regenerate-frontend-easy-api: any of: openapi-schema\.yaml$
  validate-api-drift: any of: \.(yaml|yml)$
  copy-snapshot-contract: any of: snapshot_interface_contract\.yaml
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

Fix: Move actions:read permission to parent workflow
  .github/workflows/ci.yml
  .github/workflows/detect-changes.yml
Due: validate-api-drift

Docs: Complete CI/CD workflow guide with all scenarios
  .github/DEVELOPMENT.md
Due: none

Update test cases for role to group migration
  app/users/views.py
  tests/conftest.py
  tests/integration/test_websocket_realtime.py
Due: openapi-schema, mypy, bandit

Fix: Remove flawed smart hook orchestrator, fix settings, UserAdmin, and backend script
  .pre-commit-config.yaml
  app/bus_kiosk_backend/settings.py
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/students/migrations/0001_initial.py
  app/users/admin.py
  app/users/migrations/0001_initial.py
Due: validate-api-drift, mypy, bandit

Use centralized run_in_venv.sh for all pre-commit hooks
  .pre-commit-config.yaml
  scripts/run_in_venv.sh
Due: validate-api-drift

Fix: Global .env.test for all hooks - single source of truth
  .env.test
  .pre-commit-config.yaml
  app/bus_kiosk_backend/settings.py
  app/users/views.py
  openapi-schema.yaml
  scripts/run_in_venv.sh
Due: openapi-schema, copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, mypy, bandit

Add Firebase authentication for Frontend Easy
  .env.example
  FIREBASE_SETUP.md
  app/bus_kiosk_backend/core/__init__.py
  app/bus_kiosk_backend/core/authentication.py
  app/bus_kiosk_backend/settings.py
  app/buses/migrations/0001_initial.py
  app/buses/services/location_service.py
  app/events/migrations/0001_initial.py
  app/kiosks/authentication.py
  app/kiosks/migrations/0001_initial.py
  app/realtime/consumers.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
  app/users/models.py
  app/users/serializers.py
  app/users/token_config.py
  app/users/views.py
  firebase_keys/.gitignore
  get_firebase_key.bat
  pyproject.toml
  tests/integration/test_authentication_flow.py
  tests/integration/test_contract_compliance.py
  tests/unit/test_bus_location_service.py
  tests/unit/test_firebase_auth.py
Due: openapi-schema, mypy, bandit

Remove auto-codegen from pre-commit hooks
  .pre-commit-config.yaml
Due: validate-api-drift

Remove snapshot contract auto-copy
  .pre-commit-config.yaml
Due: validate-api-drift

Initial backend setup with Django, Channels, and bus tracking API
  Makefile
  app/bus_kiosk_backend/asgi.py
  app/bus_kiosk_backend/core/authentication.py
  app/bus_kiosk_backend/dev_settings.py
  app/bus_kiosk_backend/prod_settings.py
  app/bus_kiosk_backend/settings.py
  app/buses/migrations/0001_initial.py
  app/buses/services/location_service.py
  app/events/migrations/0001_initial.py
  app/events/views.py
  app/kiosks/admin.py
  app/kiosks/authentication.py
  app/kiosks/migrations/0001_initial.py
  app/kiosks/permissions.py
  app/kiosks/token_config.py
  app/realtime/bus_location_manager.py
  app/realtime/consumers.py
  app/realtime/firebase_manager.py
  app/realtime/middleware.py
  app/realtime/signals.py
  app/students/migrations/0001_initial.py
  app/users/management/commands/seed_groups.py
  app/users/migrations/0001_initial.py
  app/users/models.py
  app/users/urls.py
  openapi-schema.yaml
  tests/factories.py
  tests/integration/test_configuration.py
  tests/integration/test_contract_compliance.py
  tests/integration/test_load_performance.py
  tests/integration/test_security_integration.py
  tests/integration/test_sync_schema.py
  tests/integration/test_websocket_realtime.py
  tests/unit/test_bus_location_service.py
  tests/unit/test_firebase_auth.py
  tests/unit/test_realtime_signals.py
Due: openapi-schema, copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, mypy, bandit

Remove frontend modification scripts - maintain separation of concerns
  app/bus_kiosk_backend/dev_settings.py
  app/bus_kiosk_backend/prod_settings.py
  openapi-schema.yaml
  scripts/update_frontend_sdk.ps1
  scripts/update_frontend_sdk.py
Due: copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, mypy, bandit

Fix API permissions and add bus locations endpoint
  app/bus_kiosk_backend/urls.py
  app/buses/urls.py
  app/buses/views.py
  app/kiosks/urls.py
  openapi-schema.yaml
  tests/integration/test_authentication_flow.py
  tests/unit/test_kiosk_auth.py
Due: openapi-schema, copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, mypy, bandit

Add dummy SECRET_KEY and ENCRYPTION_KEY env vars for CI mypy checks
  .github/workflows/ci.yml
Due: validate-api-drift

Configure local dev to use in-memory channels and cache
  app/bus_kiosk_backend/settings.py
  app/realtime/signals.py
Due: mypy, bandit

Update migrations and CI configuration
  .github/workflows/ci.yml
  .gitignore
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
Due: validate-api-drift, mypy

Fix CI: Use test_settings for mypy
  .github/workflows/ci.yml
Due: validate-api-drift

Refactor to Fortune 500 pattern: Django settings + CI/CD artifacts
  .github/workflows/build-image.yml
  .github/workflows/build-push-ghcr.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  .github/workflows/push-gar.yml
  .github/workflows/push-to-gar.yml
  .github/workflows/verify-ghcr.yml
  app/bus_kiosk_backend/dev_settings.py
  app/bus_kiosk_backend/prod_settings.py
  app/bus_kiosk_backend/production_settings.py
  app/bus_kiosk_backend/settings.py
  app/bus_kiosk_backend/settings/README.md
  app/bus_kiosk_backend/settings/__init__.py
  app/bus_kiosk_backend/settings/base.py
  app/bus_kiosk_backend/settings/ci.py
  app/bus_kiosk_backend/settings/local.py
  app/bus_kiosk_backend/settings/production.py
  app/bus_kiosk_backend/test_settings.py
Due: validate-api-drift, mypy, bandit

Remove unused JWT/SIMPLE_JWT configuration
  app/bus_kiosk_backend/settings/base.py
  app/bus_kiosk_backend/settings/ci.py
Due: mypy, bandit

Fix CI workflow: use IMAGE_NAME variable and remove redundant registry login
  .github/workflows/ci.yml
Due: validate-api-drift

Remove old JWT chaos auth tests
  tests/integration/test_chaos_auth.py
Due: mypy

Remove old kiosk JWT authentication tests
  tests/integration/test_kiosk_api.py
Due: mypy

Implement Railway CD pattern (3-station deployment)
  .github/workflows/deploy.yml
  .github/workflows/push-to-gar.yml
  .github/workflows/railway-cd.yml
Due: validate-api-drift

Remove test skip logic - Fortune 500 compliance
  .github/workflows/ci.yml
Due: validate-api-drift

Remove old kiosk authentication tests
  tests/e2e/test_kiosk_workflow.py
  tests/integration/test_kiosk_heartbeat_integration.py
Due: mypy

Restore deleted test files for kiosk authentication
  tests/e2e/test_kiosk_workflow.py
  tests/integration/test_chaos_auth.py
  tests/integration/test_kiosk_api.py
  tests/integration/test_kiosk_heartbeat_integration.py
Due: mypy

feat: Complete JWT test skipping for Firebase migration
  app/kiosks/authentication.py
  tests/conftest.py
  tests/e2e/test_kiosk_workflow.py
  tests/integration/test_chaos_auth.py
  tests/integration/test_kiosk_heartbeat_integration.py
Due: mypy, bandit

Remove JWT authentication - complete shift to Firebase
  .pre-commit-config.yaml
  app/events/views.py
  app/kiosks/admin.py
  app/kiosks/authentication.py
  app/kiosks/migrations/0002_remove_jwt_activation.py
  app/kiosks/models.py
  app/kiosks/serializers.py
  app/kiosks/urls.py
  app/kiosks/views.py
  openapi-schema.yaml
  pyproject.toml
  tests/conftest.py
  tests/factories.py
  tests/integration/test_kiosk_api.py
  tests/integration/test_kiosk_heartbeat_integration.py
  tests/integration/test_websocket_realtime.py
  tests/unit/test_kiosk_auth.py
Due: openapi-schema, copy-schema-to-flutter, regenerate-bus-kiosk-api, regenerate-frontend-easy-api, validate-api-drift, mypy, bandit

Fix JWT removal - update Makefile and remove remaining JWT imports
  app/bus_kiosk_backend/urls.py
  app/kiosks/token_config.py
  app/users/views.py
Due: openapi-schema, mypy, bandit

Skip JWT-dependent sync schema tests
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/kiosks/migrations/0002_remove_jwt_activation.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
  tests/integration/test_sync_schema.py
Due: mypy

Fix WebSocket authentication and user creation issues
  app/realtime/middleware.py
  tests/integration/test_sync_schema.py
Due: mypy, bandit

Fix ruff lint error: prefix unused variable with underscore
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/realtime/middleware.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
Due: mypy, bandit

Add debug logging to WebSocket consumers and middleware
  app/realtime/consumers.py
  app/realtime/middleware.py
Due: mypy, bandit

Remove JWT-dependent endpoint schema tests
  tests/test_all_endpoints_schema.py
Due: mypy

Remove debug logging from WebSocket consumers
  app/realtime/consumers.py
  app/realtime/middleware.py
Due: mypy, bandit

Fix CD pipeline - update Workload Identity for new repository
  .github/workflows/railway-cd.yml
Due: validate-api-drift

Clean up workflows and fix Workload Identity auth
  .github/workflows/detect-changes.yml
  .github/workflows/railway-cd.yml
Due: validate-api-drift

Refactor: Break Railway CD into separate visible jobs
  .github/workflows/railway-cd.yml
Due: validate-api-drift

Use GitHub Variables for GCP configuration
  .github/workflows/railway-cd.yml
Due: validate-api-drift

Fix CD: Use only existing secrets from Secret Manager
  .github/workflows/railway-cd.yml
  app/bus_kiosk_backend/permissions.py
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
Due: validate-api-drift, mypy, bandit

Improve Firebase key management - add automated scripts and documentation
  FIREBASE_SETUP.md
  app/buses/migrations/0001_initial.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/students/migrations/0001_initial.py
  app/users/migrations/0001_initial.py
  firebase_keys/.gitignore
  firebase_keys/README.md
  firebase_keys/get_new_firebase_key.bat
  firebase_keys/verify_key.bat
  get_firebase_key.bat
Due: mypy
