Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-api-drift, copy-snapshot-contract, validate-snapshot-contract, mypy, bandit

Path conditions:
  validate-api-drift: any of: \.(yaml|yml)$
  copy-snapshot-contract: any of: snapshot_interface_contract\.yaml
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$

Remove date parameter from dashboard APIs - always show today
  app/events/api_views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Add WebSocket + Redis pub/sub for real-time dashboard updates
  app/realtime/consumers.py
  app/realtime/routing.py
  app/realtime/signals.py
Due: mypy, bandit

Add Session auth for frontend_easy - clarify JWT usage
  app/bus_kiosk_backend/settings.py
  app/users/token_config.py
  app/users/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Revert session auth endpoints - JWT is correct for SPAs
  app/bus_kiosk_backend/settings.py
  app/users/token_config.py
  app/users/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Add JWT authentication middleware for WebSocket connections
  app/bus_kiosk_backend/asgi.py
  app/realtime/middleware.py
Due: mypy, bandit

Ignore seed_bus_locations.py
  .gitignore
Due: none

feat: Implement Fortune 500 IAM-style authorization for bus locations
  app/school_dashboard/views.py
  app/tests/test_bus_location_iam.py
  app/users/urls.py
  app/users/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

feat: Add bus locations endpoint to OpenAPI schema with operation ID
  app/bus_kiosk_backend/urls.py
  app/school_dashboard/views.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Fix Ruff linting errors to pass CI checks
  app/students/admin.py
  app/students/serializers.py
  app/utils/__init__.py
  pyproject.toml
  scripts/seed_dashboard_data.py
  scripts/update_frontend_sdk.py
Due: mypy, bandit

Enable mypy in pre-commit hooks and fix type error
  .pre-commit-config.yaml
  SETUP.md
  app/events/models.py
Due: validate-api-drift, mypy, bandit

Fix StudentFactory UNIQUE constraint test failure
  tests/factories.py
Due: mypy

Migrate CI from artifact storage to GitHub Container Registry
  .github/workflows/ci.yml
Due: validate-api-drift

Fix GHCR image path for private repository
  .github/workflows/ci.yml
Due: validate-api-drift

Add workflow-level permissions to fix private repo access
  .github/workflows/ci.yml
Due: validate-api-drift

Fix school dashboard API integration tests
  tests/integration/test_school_dashboard_api.py
Due: mypy

Fix integration test failures
  tests/integration/test_school_dashboard_api.py
  tests/integration/test_websocket_realtime.py
Due: mypy

Fix WebSocket integration tests
  app/bus_kiosk_backend/test_settings.py
  tests/integration/test_websocket_realtime.py
Due: mypy

Fix ULID generation to use ulid.new() API
  app/events/models.py
Due: mypy, bandit

Add secure Maps API proxy (backend holds key)
  app/bus_kiosk_backend/urls.py
  app/utils/maps_proxy.py
Due: mypy, bandit

Revert Maps API proxy - use frontend key approach instead
  app/bus_kiosk_backend/urls.py
  app/utils/maps_proxy.py
Due: mypy, bandit

Add bus_number field to Bus model (required, unique)
  app/buses/migrations/0001_initial.py
  app/buses/migrations/0002_add_kiosk_sync_models.py
  app/buses/migrations/0003_remove_route_schedule_remove_route_stops_busstop_and_more.py
  app/buses/migrations/0004_route_color_code_route_line_pattern.py
  app/buses/models.py
  app/buses/serializers.py
  app/events/migrations/0001_initial.py
  app/kiosks/migrations/0001_initial.py
  app/kiosks/migrations/0002_remove_kiosk_idx_kiosk_heartbeat_and_more.py
  app/kiosks/migrations/0003_change_battery_level_to_decimal.py
  app/kiosks/migrations/0004_add_kiosk_sync_models.py
  app/kiosks/migrations/0005_kioskactivationtoken.py
  app/kiosks/migrations/0006_remove_api_key_hash.py
  app/kiosks/migrations/0007_alter_kioskstatus_database_hash.py
  app/kiosks/migrations/0008_buslocation.py
  app/students/migrations/0001_initial.py
  app/students/migrations/0002_alter_faceembeddingmetadata_model_name.py
  app/students/migrations/0003_alter_student_assigned_bus_delete_bus.py
  app/students/migrations/0004_remove_studentphoto_photo_url_studentphoto_photo_and_more.py
  app/students/migrations/0005_alter_studentphoto_photo.py
  app/students/migrations/0006_remove_faceembeddingmetadata_qdrant_point_id_and_more.py
  app/students/migrations/0007_student_address_latitude_student_address_longitude.py
  app/students/migrations/0008_add_school_student_id.py
  app/students/migrations/0009_make_school_student_id_required.py
  app/users/migrations/0001_initial.py
  openapi-schema.yaml
Due: validate-api-drift, mypy, bandit

Add bus_number to admin panel display and search
  app/buses/admin.py
Due: mypy, bandit

Fix BusFactory to include bus_number field
  tests/factories.py
Due: mypy

Fix integration test: Add missing bus_number to Bus creation
  tests/integration/test_websocket_realtime.py
Due: mypy

Fix admin static files: Add WhiteNoise middleware and enable collectstatic
  Dockerfile
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

Fix formatting issues from pre-commit hooks
  app/bus_kiosk_backend/production_settings.py
  app/bus_kiosk_backend/settings.py
  app/users/management/__init__.py
  app/users/management/commands/__init__.py
  app/users/management/commands/createsuperuser_noninteractive.py
  openapi-schema.yaml
  pyproject.toml
Due: validate-api-drift, mypy, bandit

Infrastructure and security hardening improvements
  Dockerfile
  app/bus_kiosk_backend/production_settings.py
Due: mypy, bandit

Fix LOGGING type errors and line length issues in production_settings.py
  app/bus_kiosk_backend/production_settings.py
Due: mypy, bandit

Update mypy pre-commit hook to use virtual environment
  .pre-commit-config.yaml
Due: validate-api-drift

Add test file to verify mypy hook works with virtual environment
  test_mypy.py
Due: mypy

Fix smoke test: disable file logging to prevent permission errors
  .github/workflows/ci.yml
  test_mypy.py
Due: validate-api-drift, mypy

Fix smoke test ALLOWED_HOSTS issue by adding localhost to allowed hosts
  .github/workflows/ci.yml
Due: validate-api-drift

Add database migrations to Dockerfile build process
  Dockerfile
Due: none

Update quick-build workflow to push to GHCR instead of Docker Hub
  .github/workflows/quick-build.yml
Due: validate-api-drift

Add Firebase domain to CORS and CSRF trusted origins for admin access
  app/bus_kiosk_backend/settings.py
Due: mypy, bandit

Add conditional seed script execution in Dockerfile for Terraform deployment
  Dockerfile
Due: none

Add secure superuser creation command and update dependencies
  .env.example
  Makefile
  app/users/management/commands/createsuperuser_noninteractive.py
  app/users/management/commands/createsuperuser_secure.py
  pyproject.toml
Due: mypy, bandit

Fix Dockerfile: Runtime migrations, no build-time operations
  Dockerfile
Due: none

Add ai-edge-litert to dependencies for CI/Docker
  pyproject.toml
Due: none

Fix Django superuser creation to use username field
  .pre-commit-config.yaml
  Dockerfile
  app/users/management/commands/createsuperuser_secure.py
Due: validate-api-drift, mypy, bandit
