Repository easypoolsol-hash/backend_easy: changes, and which pre-commit hooks are due for each by the changed paths.
All: openapi-schema, validate-api-drift, validate-snapshot-contract, unit-tests-core, auth-tests, ml-tests, mypy, bandit

openapi-schema:
  name: Regenerate OpenAPI Schema
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - app/manage.py
  - spectacular
  - --file
  - openapi-schema.yaml
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

validate-api-drift:
  name: Validate API Drift (Zero-Drift Guarantee)
  entry: bash
  args:
  - scripts/check_api_drift.sh
  language: system
  pass_filenames: false
  stages:
  - commit
  always_run: false
  verbose: true

validate-snapshot-contract:
  name: Validate Snapshot Contract
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_snapshot_generator.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

unit-tests-core:
  name: Unit Tests (Core Logic)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/
  - -v
  - --tb=short
  - --maxfail=3
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

auth-tests:
  name: Auth Tests (Security Critical)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/integration/test_authentication_flow.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

ml-tests:
  name: ML Tests (Face Recognition)
  entry: bash
  args:
  - scripts/run_in_venv.sh
  - -m
  - pytest
  - tests/unit/test_face_embedding.py
  - tests/integration/test_face_embedding_integration.py
  - -v
  - --tb=short
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

mypy:
  name: mypy (full project check)
  entry: bash
  language: system
  pass_filenames: false
  args:
  - -c
  - export PYTHONPATH=app && bash scripts/run_in_venv.sh -m mypy app --no-incremental
  stages:
  - commit
  verbose: true

bandit:
  name: bandit (security scanner)
  entry: bash
  args:
  - -c
  - bash scripts/run_in_venv.sh -m bandit -r app -x '**/test*' -c pyproject.toml -f txt 2>/dev/null || echo '⚠️ Bandit not installed, skipping security scan'
  language: system
  pass_filenames: false

fix: Return confirmation face URLs in boarding event API responses
  app/events/api_views.py
  app/events/dashboard_serializers.py
  app/events/models.py
  app/events/serializers.py
  app/events/services/storage_service.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

debug: Add logging to confirmation face URL generation
  app/events/models.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Use IAM signBlob API for signed URLs on Cloud Run
  app/events/services/storage_service.py
Due: unit-tests-core, mypy, bandit

improve: Better thumbnail display with error indicators
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

debug: Add queryset optimization and logging for thumbnails
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Improve thumbnail rendering in admin list view
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Simplify thumbnail HTML rendering in admin list
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Use mark_safe to join format_html results for thumbnails
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Make CSP environment-aware for GCS bucket
  app/bus_kiosk_backend/middleware/__init__.py
Due: mypy, bandit

fix: Add wildcard to CSP for GCS signed URLs
  app/bus_kiosk_backend/middleware/__init__.py
Due: mypy, bandit

fix: Use correct CSP syntax for GCS bucket prefix matching
  app/bus_kiosk_backend/middleware/__init__.py
Due: mypy, bandit

fix: Mark unused project_id variable with underscore
  app/events/services/storage_service.py
Due: unit-tests-core, mypy, bandit

perf: Add LocMem cache for signed URLs and enhance student search
  app/events/models.py
  app/students/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add 30-second cache to bus location APIs
  app/buses/urls.py
  app/buses/views.py
  app/students/views.py
  app/users/views.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, auth-tests, mypy, bandit

fix: Add proper CORS configuration for staging
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

feat: Add CORS preflight caching for staging
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

fix: Add failsafe to always include stage.easypool.in in CORS origins
  app/bus_kiosk_backend/settings/staging.py
Due: mypy, bandit

fix: Add CORS preflight caching and failsafe for production
  app/bus_kiosk_backend/settings/production.py
Due: mypy, bandit

fix: Add bus_number field to bus locations API
  app/buses/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Enforce IsSchoolAdmin authorization on all admin APIs
  app/buses/views.py
  app/events/api_views.py
  app/events/views.py
  app/students/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Revert "fix: Enforce IsSchoolAdmin authorization on all admin APIs"
  app/buses/views.py
  app/events/api_views.py
  app/events/views.py
  app/students/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Add IsSchoolAdmin to buses API (incremental security fix 1/4)
  app/buses/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Add IsSchoolAdmin to students API (incremental security fix 2/4)
  app/students/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Add IsSchoolAdmin to events API (incremental security fix 3/4)
  app/events/views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Add IsSchoolAdmin to dashboard APIs (incremental security fix 4/4 - FINAL)
  app/events/api_views.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Add PDF boarding report generation to Django Admin
  app/events/admin.py
  app/events/services/pdf_report_service.py
  app/events/templates/reports/boarding_report.html
  pyproject.toml
Due: unit-tests-core, mypy, bandit

fix: Add WeasyPrint system dependencies to Dockerfile
  Dockerfile
Due: none

refactor: Clean up PDF report for school distribution
  app/events/services/pdf_report_service.py
  app/events/templates/reports/boarding_report.html
Due: unit-tests-core, mypy, bandit

refactor: Consolidate PDF report to one row per student
  app/events/services/pdf_report_service.py
  app/events/templates/reports/boarding_report.html
Due: unit-tests-core, mypy, bandit

fix: Show ALL events in PDF report and fix registered count
  app/events/services/pdf_report_service.py
Due: unit-tests-core, mypy, bandit

refactor: One row per student with all scan times
  app/events/services/pdf_report_service.py
  app/events/templates/reports/boarding_report.html
Due: unit-tests-core, mypy, bandit

refactor: Remove duplicate Bus Number column from report
  app/events/services/pdf_report_service.py
  app/events/templates/reports/boarding_report.html
Due: unit-tests-core, mypy, bandit

fix: Remove persistent success messages from PDF download
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Add proper GPS coordinate handling in BoardingEventCreateSerializer
  app/events/serializers.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

feat: Improve BoardingEvent admin display with bus/route and location
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

fix: Use immutable kiosk-to-bus relationship for boarding event display
  app/events/admin.py
Due: unit-tests-core, mypy, bandit

feat: Support nullable student field for unknown face tracking
  app/events/admin.py
  app/events/migrations/0005_alter_boardingevent_student.py
  app/events/models.py
  app/events/serializers.py
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

fix: Handle nullable student field in PDF reports and seed command
  app/events/management/commands/seed_boarding_events.py
  app/events/services/pdf_report_service.py
Due: unit-tests-core, mypy, bandit

fix: Add type hint for student_id variable
  app/events/services/pdf_report_service.py
Due: unit-tests-core, mypy, bandit

feat: Add historical bus location playback API
  app/buses/urls.py
  app/buses/views.py
  app/events/admin.py
  openapi-schema.yaml
Due: openapi-schema, validate-api-drift, unit-tests-core, mypy, bandit

Path conditions:
  openapi-schema: any of: (views|serializers|urls|models)\.py$ and \.py$
  validate-api-drift: any of: (views|serializers|urls|models|openapi-schema)\.py$|openapi-schema\.yaml$
  validate-snapshot-contract: any of: (kiosks/services\.py|snapshot_interface_contract\.yaml)
  unit-tests-core: any of: (app/(users|buses|students|kiosks|events)/.*\.py|tests/unit/.*\.py)
  auth-tests: any of: (app/(users|kiosks)/.*\.py|tests/.*auth.*\.py)
  ml-tests: any of: (app/.*embed.*\.py|tests/.*face.*\.py|tests/.*embed.*\.py)
  mypy: any of: \.py$
  bandit: any of: \.py$, but not: ^.*(?:test|generated|migrations).*\.py$
